{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="container">
        <div id="container">
            <div id="welcome">
                <h1>Welcome to AddressBook</h1>
            </div>
            <div id="next">
                <h2>CRUD Operation </h2>
                <ul>
                    <li>
                        View AddressBook
                    </li>
                    <li>
                        Create an Address
                    </li>
                    <li>
                        Delete Address
                    </li>
                    <li>
                        Update an Address
                    </li>
                </ul>

            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
